---
import "./src/styles/global.css"
---
<header>
  <nav class="bg-[#002441] w-full">
  
  <div class="max-w-6xl mx-auto flex items-center justify-between">
    <img src="/images/brand.png" alt="Ready To Go Moving" class="h-20">
    <ul class="flex gap-6 font-medium text-md ">
      <li><a class="text-white no-underline hover:[color:#EBBB0D] transition-all duration-200" href="#">HOME</a></li>
      <li><a class="text-white  no-underline hover:[color:#EBBB0D] transition-all duration-200" href="#">BOOK NOW</a></li>
      <li><a class="text-white  no-underline hover:[color:#EBBB0D] transition-all duration-200" href="#">OUR SERVICE</a></li>
      <li><a class="text-white  no-underline hover:[color:#EBBB0D] transition-all duration-200" href="#">CONTACT</a></li>
      <li><a class="text-white  no-underline hover:[color:#EBBB0D] transition-all duration-200" href="#">ABOUT US</a></li>
    </ul>
   
  </div>
</nav>

</header>
