<button class="border-2 border-button-border text-button-border font-semibold px-6 py-2 rounded-full hover:bg-button-border active:scale-95 hover:text-primary transition-all duration-300 hidden md:block">
    Contact Us
  </button>