---
import ContactusButton from "./contactus_button.astro"
---

<footer class="bg-primary text-gray-800 px-8 py-12 text-center">
  <div class="max-w-7xl mx-auto grid grid-cols-1 gap-y-10 md:grid-cols-4 md:gap-2 md:gap-y-0">
    <div class="flex flex-col items-center md:items-start space-y-6">
      <img src="/images/Logo_1_grande.png" alt="Ready To Go Logo" class="w-32">
      <ContactusButton />
    </div>
    <div class="flex flex-col items-center gap-4 text-white md:items-start md:text-left md:space-y-10">
      <h3 class="text-lg mb-2 inline-block border-b-2 border-button-border">Site Map</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-button-border">Home</a></li>
        <li><a href="#" class="hover:text-button-border">Scheduling</a></li>
        <li><a href="#" class="hover:text-button-border">Our Services</a></li>
        <li><a href="#" class="hover:text-button-border">Contact</a></li>
        <li><a href="#" class="hover:text-button-border">FAQ</a></li>
        <li><a href="#" class="hover:text-button-border">Testimonials</a></li>
      </ul>
    </div>
    <div class="flex flex-col items-center gap-4 text-white md:items-start md:text-left">
      <h3 class="text-lg mb-2 inline-block border-b-2 border-button-border">Our Services</h3>
      <ul class="space-y-2.5">
        <li><a href="#" class="hover:text-button-border">Residential Moving</a></li>
        <li><a href="#" class="hover:text-button-border">Commercial Moving</a></li>
        <li><a href="#" class="hover:text-button-border">Loading and Unloading</a></li>
        <li><a href="#" class="hover:text-button-border">Assembling and Disassembling</a></li>
        <li><a href="#" class="hover:text-button-border">Delivery</a></li>
        <li><a href="#" class="hover:text-button-border">Rental Boxes</a></li>
      </ul>
    </div>
    <div class="flex flex-col items-center gap-4 text-white md:items-start md:text-left">
      <h3 class="text-lg mb-2 inline-block border-b-2 border-button-border">Get In Touch</h3>
      <ul class="space-y-2">
        <li class="flex flex-row items-center gap-3">
          <img src="/images/phone_icon.png" alt="" class="w-5 h-auto">
          <a href="#" class="hover:text-button-border">+1 604-630-3800</a>
        </li>
        <li class="flex flex-row items-center gap-3">
          <img src="/images/mail.png" alt="" class="w-5 h-auto">
          <a href="#" class="hover:text-button-border">info@readytogomoving.com</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<footer class="bg-primary text-white text-sm text-center py-4">
  © 2025 Ready To Go Moving | All Rights Reserved
</footer>
